/* Matugen-generated waybar colors (from current wallpaper) */
@define-color bg {{colors.background.dark.hex}};
@define-color bg-alt {{colors.surface_container.dark.hex}};

@define-color fg {{colors.on_background.dark.hex}};
@define-color fg-soft {{colors.on_surface.dark.hex}};

@define-color border {{colors.outline.dark.hex}};
@define-color gray {{colors.on_surface_variant.dark.hex}};

@define-color black #000000;

@define-color blue {{colors.primary.dark.hex}};
@define-color blue-dark {{colors.primary.dark.hex}};

@define-color pink {{colors.tertiary.dark.hex}};
@define-color pink-dark {{colors.tertiary.dark.hex}};

@define-color green {{colors.secondary.dark.hex}};
@define-color green-dark {{colors.secondary.dark.hex}};

@define-color red {{colors.error.dark.hex}};
@define-color red-dark {{colors.error.dark.hex}};
@define-color red-critical {{colors.error.dark.hex}};

@define-color orange {{colors.tertiary.dark.hex}};
